<header>
  <nav class="navbar navbar-expand-lg" style="background: black">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo-angular.png" alt="Bootstrap" width="50" height="50">
      </a>
      <a class="navbar-brand" style="background: #ffffff">Dragon Celeste</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="background: #ffffff" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="article">Articles</a>
          </li>
          <button style="border-radius: 5px; ;border: none; background: dimgrey" class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="creerArticle">Créer</a>
          </button>
        </ul>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<app-footer></app-footer>
